@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

img {
  display: block;
  max-width: 100%;
}

.background-color {
  background-color: #fff;
}

.wrapper {
  height: 5410px;
  max-width: 802px;
  background-color: #f7f7f9;
  margin: 44px 24px 8px 24px;
}

.container-homepage {
  background: url("/images/header-shapes-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10px 0;
  height: 604.0000610351562px;
  max-width: 100%;
  border-bottom-left-radius: 80px;
  background-color: #fff;
  padding: 114px, 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.header-2 {
  height: 48px;
  max-width: 100%;
  margin: 58px 24px 0 24px;
  display: flex;
  justify-content: space-between;
}

.my-logo {
  width: 100px;
  height: 40px;
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.bar {
  background-color: #fff;
  border: 0;
  cursor: pointer;
}

.navbar {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

li a i {
  color: #6070ff;
  width: 16px;
  margin-bottom: 138px;
}

.frame-7-languages i {
  height: 6px;
  width: 12px;
  color: #5e6c84;
}

.skill-and-framework i {
  width: 6px;
  height: 12px;
  color: #5e6c84;
}

.menu-bar button i {
  height: 12px;
  width: 18px;
  color: #6070ff;
}

li {
  list-style: none;
}

/* Styling anchor tags */
a {
  text-decoration: none;
}

li a {
  text-decoration-style: none;
  position: relative;
}

.section-home {
  margin: 114px 24px 136px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.name-welcome {
  color: #17284d;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  height: 101px;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.description-of-me {
  color: #344563;
  margin-top: 16px;
}

.lets-connect-about {
  height: 80px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.lets-connect-statement {
  max-width: 100%;
  height: 24px;
  color: #7f8cff;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 24px;
}

.contact-with-social {
  color: #7f8cff;
}

.social-networks li {
  display: inline-block;
}

.social-network {
  text-decoration: none;
  width: 40px;
  height: 40px;
  padding: 8px;
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
}

li .social-network i {
  color: grey;
  padding-right: 10px;
  font-size: 20px;
  font-weight: 700;
}

.social-networks .social-network i:hover {
  color: #6070ff;
  box-shadow: 0 8px 16px rgb(64, 83, 252, 0.24);
  border-radius: 8px;
}

/* Works and About-me section */
.section-works {
  height: 2788px;
  max-width: 100%;
  margin: 114px 24px 114px 24px;
  display: grid;
  row-gap: 88px;
}

.card-works {
  height: 552px;
  max-width: 100%;
  border: 1px solid #dfe1e6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;
}

.multipost-card {
  height: 596px;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.section-works h1 {
  height: 36px;
  width: 295px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.frame-2 {
  height: 32px;
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.frame-2 .canopy,
.frame-2 .back-end-dev,
.frame-2 .year {
  height: 16px;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding: 8px 0;
  color: #7a869a;
  display: flex;
  align-items: center;
}

.frame-2 .canopy {
  color: #344563;
}

.frame-2 .counter {
  height: 8px;
  width: 8px;
  color: #c1c7d0;
  display: flex;
  align-items: center;
}

.work-detail p {
  height: 76px;
  max-width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags {
  height: 24px;
  width: 203px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.tag-container {
  height: 24px;
  width: 203px;
  display: flex;
  align-items: center;
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
}

.tag {
  width: 29px;
  height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.tag-javascript {
  width: 65px;
}

.tag .lets-connect-about {
  margin-bottom: 22px;
}

.action {
  width: 162px;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 12px;
  box-sizing: border-box;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.action .btn {
  height: 24px;
  width: 138px;
  border: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
}

.tag:hover {
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgb(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
}

.tag:active {
  background-color: #2230d2;
  border-radius: 8px;
  color: #fff;
}

.action:hover {
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgb(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
}

.action:active {
  background-color: #2230d2;
  border-radius: 8px;
  color: #fff;
}

.btn {
  height: 24px;
  width: 100%;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  /* color: #396df2; */
  background-color: #396df2;

}

/* End of Styling anchor tags   */
.project-title .title {
  height: 36px;
  width: 295px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 12px;
  margin-bottom: 20px;
}

/* Styling about myself section */
.about-myself {
  max-width: 100%;
  height: 1125.15px;
  padding: 114px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.top {
  height: 409px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.skill-list {
  height: 464.14678955078125px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-myself-social-ntks {
  height: 40px;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.frame-7-languages {
  height: 72px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frame-7-languages a {
  height: 24px;
  width: 237px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.language-list {
  height: 248.14678955078125px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
}

.frame-9-10-11 {
  height: 66.72px;
  max-width: 100%;
  background-color: #f7f7f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.frame-9-10-11 a {
  height: 24px;
  width: 215px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.frame-9-10-11 img {
  height: 48px;
  width: 48px;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  color: #505f79;
}

.skill-and-framework {
  height: 72px;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.skill-and-framework a {
  height: 24px;
  width: 237px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.separator {
  height: 1px;
  max-width: 100%;
  background: #dfe1e6;
}

/* End of Styling about myself section */

/* End of Works and About-me section */

/* ......Contact Form....... */
.form-container {
  position: relative;
  height: 779px;
  background: #6070ff;
  border-top-left-radius: 25%;
  max-width: 100%;
  /* transform: matrix(1, 0, 0, -1, 0, 0); */
}

.contact-form-shapes {
  position: absolute;
  min-width: 265px;
  max-width: 100%;
  height: 709.17px;
  right: -20px;
  margin-top: 21px;
}

.contact-me-title {
  height: 56px;
  max-width: 802px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding-top: 103px;
  margin-bottom: 12px;
}
.contact-me-text {
  height: 102px;
  max-width: 100%;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  padding: 12px 24px 87px 24px;
}

form {
  padding: o 24px 0 24px;
  min-height: 374px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 24px 0 24px;
  
}

.input-field {
  height: 48px;
  max-width: 100%;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.form1-input {
  padding: 15px 38px 15px 16px;
  height: 18px;width: 273px;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  border: none;
}

.name {
  margin-bottom: 20px;
}

.email {
  margin-bottom: 18px;
}

.message {
  margin-bottom: 22px;
  height: 170px;
}

.input-field textarea {
  height: 140px;
  min-width: 273px;
  max-width: 100%;
  font-size: 15px;
  color: #b3bac5;
}

.get-touch {
  height: 48px;
  width: 140px;
  background-color: #fff;
  border-radius: 8px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
}

.get-touch button {
  height: 24px;
  width: 108px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background-color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  border: none
}